
# Byte-compiled 
__pycache__/

# enviroment variables
.env
# VS Code
.vscode/

# exclude data from source control
data/
# symlink
data


# python
__pycache__

# Mac OS-specific storage files
.DS_Store

