# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# enviroment variables
.env

# exclude data from source control
data/
notebooks/detection/datasets
notebooks/detection/runs


# Mac OS-specific storage files
.DS_Store

